{% extends 'logicgirl/base.html' %}

{% block content %}
    {% load static %}
    <div class="container-fluid border-transparent">
        <br>
        <div class="card">
            <div class="card-header alert-success text-center fs-4 fw-bold">
                <img src="{% static 'imagens/lg_dark.png' %}" width="50px"> Logic Girl
            </div>
            <ul class="list-group list-group-flush alert-secondary"><br>
                <li class="list-group-item border border-1 border-dark text-center">
                    <h4>Logic Girl é um jogo mobile, que tem o intuito de ensinar logica de programação de forma divertida, e mostrar mulheres importantes da computação.</h4>    
                </li>
                <br>
                <li class="list-group-item border border-1 border-dark text-center">
                    <img src="{% static 'imagens/game.gif' %}" class="card-img-top" style="max-width: 500px;">
                </li>
                <br>
                <li class="list-group-item border border-1 border-dark">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <img src="{% static 'imagens/sam.png' %}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Samanta</h5>
                                        <p class="card-text">Com seus 16 anos, ela é uma garota corajosa e curiosa, como todo adolescente ela procura encontrar respostas para qual carreira seguir.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <img src="{% static 'imagens/sam_sorrindo.png' %}" class="card-img-top" alt="...">
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 18rem;">
                                    <img src="{% static 'imagens/samanta1.gif' %}" class="card-img-top" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <br>
                <li class="list-group-item border border-1 border-dark text-center">
                    <h5>Após ser sugada para um mundo tecnologico, Samanta explora todo esse universo aprendendo com 
                        mulheres que são importantes para a computação, você junto com Samanta descobrirá a maravilhas da tecnologia
                        aprendendo, também sobre programação.</h5>
                </li>
            </ul>
        </div>
        <br><br><br><br><br>
    </div>
{% endblock %}