{% extends 'logicgirl/base.html' %}

{% block content %}
    <center>
        <br><br><br>
        <div class="container-fluid justify-content-center">
            <div class="card">
                <div class="card-header alert-success text-center fs-4 fw-bold">
                    Sugestões ou Críticas
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Por favor, nós ajude com a avaliação do protótipo no formulário google.  <a class="btn btn-info" href="https://docs.google.com/forms/d/e/1FAIpQLSdQbnQt_nyP1y7cdx2JePUchJF7zH66VEchcgzlTC_I9Z2LTA/viewform">clique aqui</a></li>
                </ul>
            </div>
        </div>
        <br><br><br><br><br><br>
    </center>
{% endblock %}